body{
    background-image: url("img/abstract_science_fiction_space_galaxy_universe_stars_nebula_8000x5000.jpg");
    background-size:1920px , 1079px ;
    background-position: bottom; 
    }
    .rece,td{
        border-top-width: 3px;border-top-style: solid white;
        border-left-width: 3px;border-top-style: solid white  ;
        
    }
    @media all and (min-width: 400px){ 
        .container{
            width: 1160px;
            
        }
        #recensioni{
            width: 1160px;
        }
      
    }
   @media all and (min-width: 1280px){
    .container{
            width: 1264px;
            
        }
        #recensioni{
            width: 1264px;
        }
       
   }
  
   @media all and (min-width: 1920px){
    .container{
            width: 1920px;
            
        }
        #recensioni{
            width: 1920px;
        }
       
   }
   @media all and (min-width: 3840px){
    .container{
            width: 3840px;
            
        }
        #recensioni{
            width: 3840px;
        }
        
   }
   .container{

    display: flex;
    flex-direction: row;
    flex-wrap: row;
   justify-content: space-around;
    
}

.item{
    margin-right:2rem;
    
}