
body{
    background-image: url("img/abstract_science_fiction_space_galaxy_universe_stars_nebula_8000x5000.jpg");
    background-size:1920px , 1079px ;
    background-position: bottom; 
   
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em
    
    }
    
    @media all and (min-width: 400px){ 
        #tabella_navbar{
            width: 1160px;
            
        }
        #menu_principale{
            width: 1160px;
        }
        #ultime_notizie{
            width: 1160px;
            font-size: 30px;
        }
        #tabella_notizie{
            width: 1160px;
        }
    
        .scritta_menu2{
            font-size: 30px;
        }
    }
   @media all and (min-width: 1280px){
    #tabella_navbar{
            width: 1264px;
            
        }
        #menu_principale{
            width: 1264px;
        }
        #ultime_notizie{
            width: 1264px;
        }
        #tabella_notizie{
            width: 1264px;
        }
   }
  
   @media all and (min-width: 1920px){
    #tabella_navbar{
            width: 1920px;
            
        }
        #menu_principale{
            width: 1920px;
        }
        #ultime_notizie{
            width: 1920px;
        }
        #tabella_notizie{   
            width: 1920px;
        }
   }
   @media all and (min-width: 3840px){
    #tabella_navbar{
            width: 3840px;
            
        }
        #menu_principale{
            width: 3840px;
        }
        #ultime_notizie{
            width: 3840px;
        }
        #tabella_notizie{
            width: 3840px;
        }
   }
   
   
   p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  
  a{
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  a::after{
    content: "";
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  a:hover::after{
      height: calc(100% + 8px)
  }
  
  /* The End */
  
  .note{
    top: auto;
    bottom: 0;
    color: #ddd;
    font-size: 13px;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 500px;
  }
  

.container{

    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-around;
}

.item{
    
    margin-right: 1rem;
}



