
body{
    background-image: url("img/abstract_science_fiction_space_galaxy_universe_stars_nebula_8000x5000.jpg");
    background-size:1920px , 1079px ;
    background-position: bottom; 
    }
    
    @media all and (min-width: 400px){ 
        #tabella_navbar{
            width: 1160px;
            
        }
        #menu_principale{
            width: 1160px;
        }
        #ultime_notizie{
            width: 1160px;
            font-size: 30px;
        }
        #tabella_notizie{
            width: 1160px;
        }
    
        .scritta_menu2{
            font-size: 30px;
        }
    }
   @media all and (min-width: 1280px){
    #tabella_navbar{
            width: 1264px;
            
        }
        #menu_principale{
            width: 1264px;
        }
        #ultime_notizie{
            width: 1264px;
        }
        #tabella_notizie{
            width: 1264px;
        }
   }
  
   @media all and (min-width: 1920px){
    #tabella_navbar{
            width: 1920px;
            
        }
        #menu_principale{
            width: 1920px;
        }
        #ultime_notizie{
            width: 1920px;
        }
        #tabella_notizie{
            width: 1920px;
        }
   }
   @media all and (min-width: 3840px){
    #tabella_navbar{
            width: 3840px;
            
        }
        #menu_principale{
            width: 3840px;
        }
        #ultime_notizie{
            width: 3840px;
        }
        #tabella_notizie{
            width: 3840px;
        }
   }
   .scritta_menu2:hover
   {
           
    background:green;
   }

 






