body{
    background-image: url("img/abstract_science_fiction_space_galaxy_universe_stars_nebula_8000x5000.jpg");
    background-size:1920px , 1079px ;
    background-position: bottom;
    
    }
    @media all and (min-width: 400px){ 
        #tabella_navbar{
            width: 1160px;
            
        }
        #contattarci{
            width: 1160px;
            
        }
        #primo_p{
            width: 1160px;
        }
        #secondo_p{
            width: 1160px;
        }
       
    }
    @media all and (min-width: 1280px){
    #tabella_navbar{
            width: 1264px;
            
        }
        #contattarci{
            width: 1264px;
            
        }
        #primo_p{
            width: 1264px;
        }
        #secondo_p{
            width: 1264px;
        }
       
   }
   @media all and (min-width: 3840px){
    #tabella_navbar{
            width: 3840px;
            
        }
        #contattarci{
            width: 3840px;
            
        }
        #primo_p{
            width: 3840px;
        }
        #secondo_p{
            width: 3840px;
        }
       
   }