body{
    background-image: url("img/abstract_science_fiction_space_galaxy_universe_stars_nebula_8000x5000.jpg");
    background-size:1920px , 1079px ;
    background-position: bottom;
    
    }
    .videotab,td{
                border-top-width: 3px;border-top-style: solid white;
                border-left-width: 3px;border-top-style: solid white  ;
                
            }
    @media all and (min-width: 400px){
        #tabella_navbar{
            width: 1160px;
            
        }
        #titolo_autore{
            width: 1160px;
        }
    }
    @media all and (min-width: 1280px){
    #tabella_navbar{
            width: 1264px;
            
    }
    #ultimi_video{
            width: 1280px;
            
        }
    }
    @media all and (min-width: 3840px){
    #tabella_navbar{
            width: 3840px;
            
        }
        #ultimi_video{
            width: 3840px;
            
        }
     
   }
    